body {
    background-image: url(./stevejobs_hero.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

img {
    margin-top: 30px;
    width: 20%;
    height: 20%;
    overflow: hidden;
}